@{
    ViewData["Title"] = "About";
}



<p>Rx Admin is an application that allows doctors and nurses to manage prescription medications. Navigate to each page to enter new information, edit current information,
    or delete an exiting obsolete record.</p>
