@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Rx Admin is an application that allows doctors and nurses to manage prescription medications. Navigate to each page to enter new information, edit current information,
    or delete an exiting obsolete record.</p>
