@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Rx Admin</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Rx Admin App!</h2>
        <p>
            Rx Admin is an application that
            allows doctors and nurses to manage 
            prescription medications.
        </p>
    </div>

</div>
